{%extends 'base.html'%}


{%block content%}
{%block styles%}
{{block.super}}
<link rel="stylesheet" href="../../static/css/bootstrap.css">
<link rel="stylesheet" href="../../static/css/profile.css">

{%endblock%}
<div class="profile bg-dark">
    <div class="bio">
        <p><em>Phone Number: </em>{{profile.Phone}}</p>
        <p><em>Email Address: </em>{{profile.email}}</p>
        <p><em>Bio: </em>{{profile.bio}}</p>
        <a href="{%url 'addproject'%}"><button class = 'btn bg-white' >Add Project</button> </a>
    </div>
</div>

<img class="img img-fluid profilepic" src="{{profile.profilepic.url}}" alt="profile pic">

<div class="projects">

    <h1>My Projects</h1>

    <div class="Projects">
        {%for project in projects%}
        <div class="project card">
            <h1>{{project.Title}}</h1>
            <img src="{{project.Landing.url}}" alt="landing">
            <p>{{project.Description}}</p>
        </div>
    
        {%endfor%}
    </div>

</div>



{%endblock%}
