{%block styles%}
<link rel="stylesheet" href="../../static/css/bootstrap.css">
<link rel="stylesheet" href="../../static/css/forms.css">

{%endblock%}

<div class="register">

    <form action="" , class="signup" method="POST">

        {%csrf_token%}

        <h2>Sign Up</h2>

        <p>
        <div>
            {{form.username.label}}:
        </div>

        <div class="input">
            {{form.username}}
        </div>

        </p>
        <p>
        <div>
            {{form.password1.label}}:
        </div>
        <div class="input">
            {{form.password1}}
        </div>

        </p>

        <p>
        <div>
            {{form.password2.label}}:
        </div>
        <div class="input">
            {{form.password2}}
        </div>

        </p>


        <input class="btn btn-dark" type="submit" value="sign up">
   
        <p>You already have an account? <a href="{% url 'logout' %}"> Sign in.</a></p>

    </form>

</div>


