
.projects{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding: 5%;
}

.project{
    width: 80%;
    padding: 3%;
}

.project img{
    height: 40vh;
}

.main{
    
    width: 100%;
    height: 70vh;
    background-image: url("../../../media/pexels-daria-shevtsova-3277932.jpg");    
    background-size: cover;
    text-align: center;
    color: white;
}
.mainratings{
    position: relative;
    top: 40%;
}