body{
    overflow-x: hidden;
}

.profilepic{
    width: 20%;
    height: 35vh;
    position: relative;
    bottom: 30vh;
    left: 5%;
    border-radius: 10px;
}
.profile{
    
    height: 40vh;
}

.bio{
    color: white;
    position: relative;
    top: 13vh;
    left: 40%;
}
.projects{
    position: relative;
    bottom: 20vh;
    left: 5%;
}

.project img{
    height: 40vh;
}

.Projects{
    display: grid;
    grid-template-columns: auto auto;
    width: 100%;
    padding: 5%;
}

.project{
    width: 500px;
    padding: 3%;
}
